%html{:lang => "en" }
  %head
    %title Benjamin Iannetta
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}/
    %script{:src=> "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", :type=> "text/javascript"}
    %script{:src=> "js/bootstrap.min.js", :type=> "text/javascript"}

  %body
    #wrap
      %div{:class => 'navbar navbar-fixed-top navbar-inverse hidden-lg hidden-md visible-sm visible-xs'}
        %h1{:class => 'pull-left mobile-title'} Benjamin Iannetta, MBA
        %div.navbar-header
          %button.navbar-toggle{:class => 'visible-sm visible-xs', :type => "button", :data => {:toggle => "collapse", :target => ".navbar-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %div{:class => 'navbar-collapse collapse no-padding'}
          %ul{:class => 'nav nav-stacked'}
            - @links.each do |link|
              %li
                %a{:href => "#{link[:href]}"}
                  %i{:class =>"fa #{link[:icon]}"}
                  %span{:class => "link-text"} #{link[:name]}
      %header{:role => 'banner'}
        %div.container
          %div.row
            %div{:class => 'col-sm-3 hidden-lg hidden-md visible-sm visible-xs spacer'}
          %div.row
            %div{:class => 'col-md-3 center'}
              %img{:class => 'profile img-circle', :src => 'http://s.gravatar.com/avatar/beafe09004cd9b10646b8401a45256d1?s=200'}
            #brand{:class => 'col-md-7 center hidden-sm hidden-xs'}
              %h1.title Benjamin Iannetta
              %span.sub-title MBA. Programmer. Board Game Addict.  
      %div.container
        %div.row
          #navigation{:class => 'col-md-2 visible-lg visible-md hidden-sm hidden-xs'}
            %ul{:class => 'nav nav-pills nav-stacked'}
              - @links.each do |link|
                %li
                  %a{:href => "#{link[:href]}"}
                    %i{:class =>"fa #{link[:icon]}"}
                    %span{:class => "link-text"} #{link[:name]}
          #content{:class => 'col-md-10'}
            = yield
    #footer
      %div.container
        %p{:class => 'copyright text-muted'}Copyright &copy; 2014 - Benjamin Iannetta
        %p{:class => 'power small text-muted'}Powered by <a href="http://www.sinatrarb.com/">Sinatra</a>
